PORT=3000
DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/babitrack?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="your-jwt-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
EXPO_ACCESS_TOKEN="your-expo-access-token"
