# Dependencies
node_modules/
**/node_modules/

# Next.js Build
.next/
**/.next/
out/
**/.out/

# NestJS Build
dist/
**/dist/

# Environment & Secrets
.env
.env.*
!.env.example
*.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Temp & Uploads
*.tmp
scratch/
uploads/
**/uploads/
